<footer class="page-footer">
  <div class="container">
    <div class="row">
      <section class="col s12 l4">
        <div class="footer-section">
          <div class="footer-subtitle">Контакты</div>
          <ul class="footer-contact">
            <li><a class="icon icon-location" href="#">Москва</a></li>
            <li><a class="icon icon-email" href="#">mail@example.com</a></li>
            <li><a class="icon icon-phone" href="#">8 (800) 555-1234</a></li>
          </ul>
        </div>
      </section>
      <section class="col s12 l4">
        <div class="footer-section">
          <div class="footer-subtitle">Загрузить отчет</div>
        </div>
      </section>
      <section class="col s12 l4">
        <div class="footer-section">
          <div class="footer-subtitle">Поделиться</div>
          <ul class="footer-socials">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">ВКонтакте</a></li>
            <li><a href="#">Google+</a></li>
            <li><a href="#">LinkedIn</a></li>
          </ul>
        </div>
      </section>
    </div>
    <div class="footer-copyright">
      &copy; 2017 ASE. Все права защищены
    </div>
  </div>
</footer>
