<footer class="page-footer">
  <div class="container">
    <div class="row">
      <section class="col s12 m4">
        <div class="footer-section">
          <div class="footer-subtitle">Контакты<button class="footer-show closed hide-on-med-and-up" type="button">Показать</button></div>
          <ul class="footer-contact hide-on-small-and-down">
            <li>
              <a class="contact contact-location show-map" href="#">Москва</a>
              <div class="map hide">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8951.965532373417!2d37.53673150346807!3d55.880164089534546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b4f82af9981da9%3A0x9c8380f201c9f208!2z0JTQvNC40YLRgNC-0LLRgdC60L7QtSDRiC4sINCc0L7RgdC60LLQsA!5e0!3m2!1sru!2sru!4v1491995366713"
                        width="100%"
                        height="200"
                        frameborder="0"
                        style="border:0">
                </iframe>
              </div>
            </li>
            <li><a class="contact contact-email" href="mailto:mail@example.com">mail@example.com</a></li>
            <li><a class="contact contact-phone" href="#">8 (800) 555-1234</a></li>
          </ul>
        </div>
      </section>
      <section class="col s12 m4">
        <div class="footer-section">
          <div class="footer-subtitle">Загрузить отчет<button class="footer-show closed hide-on-med-and-up" type="button">Показать</button></div>
        </div>
      </section>
      <section class="col s12 m4">
        <div class="footer-section">
          <div class="footer-subtitle">Поделиться<button class="footer-show closed hide-on-med-and-up" type="button">Показать</button></div>
          <ul class="footer-socials  hide-on-small-and-down">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">ВКонтакте</a></li>
            <li><a href="#">Google+</a></li>
            <li><a href="#">LinkedIn</a></li>
          </ul>
        </div>
      </section>
    </div>
    <div class="footer-copyright">
      &copy; 2017 ASE. Все права защищены
    </div>
  </div>
</footer>
