<header class="page-header navbar-fixed">
  <nav class="page-nav">
    <div class="nav-wrapper">
      <a href="\" class="brand-logo center"><img src="./img/logo.png" alt="logo" /></a>
      <ul>
        <li class="left"><a href=""><i class="material-icons">menu</i></a></li>
        <li class="right"><a class="dropdown-button" href="#" data-activates="language-dropdown"><i class="material-icons">language</i></a></li>
        <li class="right"><a class="dropdown-button" href="#" data-activates="download-dropdown"><i class="material-icons">launch</i></a></li>
      </ul>
    </div>
    </nav>
</header>

<ul id="language-dropdown" class="dropdown-content">
  <li><a class="active" href="#">русский</a></li>
  <li><a href="#">english</a></li>
</ul>


<ul id="download-dropdown" class="dropdown-content">
  <li><a href="#">сохранить текущую</a></li>
  <li><a href="#">сохранить избранное</a></li>
  <li><a href="#">сохранить всё</a></li>
</ul>
