<header class="page-header navbar-fixed">
  <nav class="page-nav">
    <div class="nav-wrapper container">
      <a href="\" class="brand-logo center">ASE logo</a>
      <ul class="left">
        <li><a class="nav-icon nav-icon-menu" href="">Menu</a></li>
        <li><a class="nav-icon nav-icon-search" href="">Search</a></li>
      </ul>
      <ul class="right">
        <li><a class="nav-icon nav-icon-language" href="">Language</a></li>
        <li><a class="nav-icon nav-icon-upload" href="">Upload</a></li>
      </ul>
    </div>
    </nav>
</header>
