html {
  font-family: 'PT Sans Narrow', Arial, sans-serif;
}

ul {
  margin: 0;
}

a img {
  display: block;
}

.container, {
  max-width: 984px;
  width: 95%;
}
@media #{$medium-and-up} {
  .container {
    width: 95%;
  }
}
