nav {
  @extend .z-depth-0;
  line-height: normal;
  background-color: $navbar-bg-color;
  border-bottom: 2px solid #aeaeae;
  transition: height 0.5s;

  // Navbar Logo
  .brand-logo.center {
    top: 50%;
    width: 65px;
    height: 45px;

    font-size: 0;

    background: transparent url('../img/logo-big-black.png') no-repeat;
    background-size: contain;
    transform: translateX(-50%) translateY(-50%);
    transition: height 0.5s;
  }

  // Navbar Links
  ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &.left { left: 0; }
    &.right { right: 0; }

    li {
      &:not(:last-child) {
        padding-right: 26px;
      }
      &.active {
        background-color: inherit;
      }
    }
    a {
      padding: 0;
      &:hover {
        background-color: inherit;
      }
      svg {
        width: auto;
        height: 26px;
        transition: height 0.5s;

        fill: #000;
      }
    }
  }
}

nav.index {
  .brand-logo.center {
    background-image: url('../img/logo-big-white.png');
  }
  svg {
    fill: #fff;
  }
}

nav.narrow {
  height: $navbar-narrow-height-mobile;
}


@media #{$medium-only} {
  nav,
  .navbar-fixed {
    height: $navbar-height-tablet;
    line-height: normal;
  }
}

@media #{$medium-and-up} {
  nav {
    .brand-logo.center {
      width: 82px;
      height: 56px;
    }
    ul {
      li:not(:last-child) {
        padding-right: 45px;
      }
      a svg {
        height: 40px;
      }
    }
  }
}

@media #{$large-and-up} {
  nav,
  .navbar-fixed {
    height: $navbar-height;
    line-height: normal;
  }

  nav.narrow {
    height: $navbar-narrow-height;
    .brand-logo.center {
      width: 58px;
      height: 40px;
    }
    ul {
      li:not(:last-child) {
        padding-right: 20px;
      }
      a svg {
        height: 30px;
      }
    }
  }
}
