nav {
  @extend .z-depth-0;
  line-height: 1;
  background-color: $navbar-bg-color;
  transition: height 0.5s;

  // Navbar Logo
  .brand-logo.center {
    top: 50%;
    width: 65px;
    height: 45px;

    font-size: 0;

    background: transparent url('../img/logo-big-white.png') no-repeat;
    background-size: contain;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.5s;
  }

  // Navbar Links
  ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &.left { left: 0; }
    &.right { right: 0; }

    li {
      &:not(:last-child) {
        padding-right: 26px;
      }
      &.active {
        background-color: inherit;
      }
    }
    .nav-icon {
      $size: 35px;
      width: $size;
      height: $size;
      padding: 0;

      font-size: 0;
      line-height: 1;

      background: transparent center center no-repeat;
      background-size: $size $size;
      transition: all 0.5s;
      filter:invert(100%);

      &:hover {
        background-color: inherit;
      }
    }
    .nav-icon-menu { background-image: url('../img/menu.svg'); }
    .nav-icon-search { background-image: url('../img/search.svg'); }
    .nav-icon-language { background-image: url('../img/language.svg'); }
    .nav-icon-upload { background-image:  url('../img/upload.svg'); }
  }
}

nav.narrow {
  height: $navbar-narrow-height-mobile;
  border-bottom: 2px solid #aeaeae;
  .brand-logo.center {
    background-image: url('../img/logo-big-black.png');
    transform: translateX(-50%) translateY(-50%) scale(0.7);
  }
  .nav-icon {
    filter: invert(0);
    transform: scale(0.85);
    background-size: 85%;
  }
}


@media #{$medium-only} {
  nav,
  .navbar-fixed {
    height: $navbar-height-tablet;
    line-height: 1;
  }
}

@media #{$medium-and-up} {
  nav {
    ul {
      li:not(:last-child) {
        padding-right: 45px;
      }
      .nav-icon {
        $size: 40px;
        width: $size;
        height: $size;
        background-size: $size $size;
      }
    }
  }
}

@media #{$large-and-up} {
  nav,
  .navbar-fixed {
    height: $navbar-height;
    line-height: 1;
  }

  nav.narrow {
    height: $navbar-narrow-height;
    ul {
      li:not(:last-child) {
        padding-right: 20px;
      }
      .nav-icon {
        transform: scale(0.75);
        background-size: 75%;
      }
    }

  }
}
